# ENVIROMENT VARS

PUBLIC_API_HOST = "127.0.0.1:8000"
PUBLIC_APP_HOST = "127.0.0.1:5173"

PUBLIC_API_URL = "http://localhost:8000"
PUBLIC_APP_URL = "http://localhost:5173" #Localhost for OAuth2

DEVELOPMENT = "TRUE"

DB_URI = "mongodb://root:root@localhost:27017/"
DB_NAME = "prowling_fox"

JWT_SECRET = "mieb1pe7NaeCae4aiy6ceiz3Meipoot4Xo5nie1eiC6ESheiB3LiuveL4tethohg"
JWT_ALG = "HS256"

# API KEYS
PUBLIC_LINKEDIN_CLIENT_ID = ""
LINKEDIN_CLIENT_SECRET = ""

OPENAI_KEY = "sk-ExampleKey"