{
	"OpenAISecret": "sk-ExampleOpenAISecretKey",
	"database": {
		"credentials": "mongodb://root:root@localhost:27017"
	},
	"JWT": {
		"Secret": "mieb1pe7NaeCae4aiy6ceiz3Meipoot4Xo5nie1eiC6ESheiB3LiuveL4tethohg",
		"Algorithm": "HS256"
	},
	"sniffers": {
		"ottaJobsniffer": {
			"enabled": true,
			"credentials": {
				"email": "test@example.com",
				"password": "Password123"
			}
		},
		"workableJobsniffer": {
			"enabled": true
		},
		"sampleJobsniffer": {
			"enabled": false
		}
	}
	
}